.verde{
    color: #77DEA4;
    font-size: 65px;
    font-family:'Roboto condensed';
    
}

.azul{
    color: #4C98D3;
    font-size: 65px;
    font-family:'Roboto condensed';
}

#fundo{
    background-color: #FBF3E4;
    height: 100%;
}

.ponto{
    border-radius: 50%;
    width: 30px;
    height: 25px;
    background-color: black;
    margin-left: 10%;
}

.menu{
    display: flex;
    position: fixed;
    left: 85%;
    top: 5%;
}

.espaco{
    padding-left: 10%;
}